.benefit-card:hover {
border-color: #a8edea;
transition: 0.3s ease;
cursor: pointer;
}

.benefit-card {
border: 1px solid #eee;
transition: all 0.3s ease;
}

.job-card {
border: 1px solid #eee;
transition: all 0.3s ease;
}

.job-card:hover {
border-color: #a8edea;
box-shadow: 0 0 15px rgba(13, 110, 253, 0.2);
}