footer a:hover {
    color: #6497e4 !important;
    transition: 0.2s;
}

footer h6 {
    margin-bottom: 1rem;
}

footer i {
    background: rgba(255,255,255,0.1);
    padding: 10px;
    border-radius: 50%;
}

footer i:hover {
  background: #6497e4;
  color: white;
  transition: 0.2s;
}