
.login-bg {
  background: linear-gradient(90deg, #a8edea, #fed6e3);
}

/* glass Card */
.glass-card {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

/* right side glass tint */
.glass-side {
  background: rgba(0, 0, 0, 0.2);
}

/* inputs controls */
.form-control {
  border-radius: 10px;
  border: none;
}

/* button */
.btn {
  border-radius: 10px;
}

/* button - login, signup */
.btnLogin, .btnSignup {
  background-color: #000000;
  color: aliceblue;
}

.btnLogin:hover {
  background-color: #a8edea;
}

.btnSignup:hover {
  background-color: #fed6e3;
}

/* button - contact */
.btnContact {
  background-color: #000000;
  color: aliceblue;
}

.btnContact:hover {
  background-color: #0baca4;
}
